/**
 * index.scss
 * - Add any styles you want here!
 */

$corner-radius: 200px;
$bottom-left-shadow: 10px solid rgba(0, 0, 0, 0.5);
$top-right-shadow: 5px solid rgba(0, 0, 0, 0.5);

body {
  background: whitesmoke;
}

.simon {
  background-color: #111;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  border-bottom: $bottom-left-shadow;
  border-left: $bottom-left-shadow;
  border-top: $top-right-shadow;
  border-right: $top-right-shadow;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
}

.button {
  opacity: 0.6;
  width: 170px;
  height: 170px;
  margin: 7px;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  border-left: 5px solid rgba(0, 0, 0, 0.4);
  transition: opacity 0.2s;
  &.lighted {
    opacity: 1;
  }
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#button-red {
  border-top-right-radius: $corner-radius;
  background-color: red;
}
#button-yellow {
  border-bottom-right-radius: $corner-radius;
  background-color: yellow;
}
#button-blue {
  border-bottom-left-radius: $corner-radius;
  background-color: blue;
}
#button-green {
  border-top-left-radius: $corner-radius;
  background-color: green;
}
